<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="BoardDTO" type="persistence.dto.BoardDTO"/> <!--org.seong.persistence.dto.BoardDTO // pully qualifyed-->
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--  connecting to Local MySql -->
            <dataSource type="POOLED"> <!-- POOL을 쓰겠다-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost/myDB"/>
                <property name="username" value="root"/>
                <property name="password" value="mjmj0221"/>
            </dataSource>

        </environment>
    </environments>
    <mappers>
        <mapper resource="sqlmapper/board.xml"/>
    </mappers>
</configuration>
